<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <h2>Email Addresses Entered:</h2>
    {% for email in emails %}
        <h5>{{email.email}} {{email.created_at}} <a href="/delete/{{email.id}}">Delete</a> </h5>
    {% endfor %}
</body>
</html>